# Server Configuration
PORT=8080
HOST=0.0.0.0
BASE_PATH=/api

# Logging Configuration
LOG_LEVEL=debug
LOG_HTTP_LEVEL=warn
LOG_FORMAT=text
LOG_ADD_RESPONSE_BODY=false
LOG_ADD_SOURCE=false

# Buffer
BUFFER_PATH=./data/buffer
BUFFER_CACHE_SIZE=1GiB
FILE_BUFFER_PATH=./data/staging

# Storage Configuration (local development paths)
CATALOG_PATH=./data/catalog
PARQUET_COMPRESSION=snappy
PARQUET_ROW_GROUP_SIZE=1000

# Processor
READ_LIMIT=100000
FLUSH_INTERVAL=5s
FILES_FLUSH_INTERVAL=10s
